/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
}

/* .App {
  display: flex;
  justify-content: ;
} */

.container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  height: 50%;
}
